[Unit]
Description=VM Startup
After=network.target

[Service]
Type=oneshot
User=jenkins
ExecStart=/home/jenkins/Scripts/Linux/agents/services/gce_service_vm_startup.sh

[Install]
WantedBy=multi-user.target